.THIS.slds-modal__container{
    height: calc(100vh - 215px) !important;
    max-width: 500px !important;
    width:500px !important;
}

.THIS.slds-modal__content{
    height: calc(100vh - 215px) !important;
}

.THIS.isTab {
    margin: 0 auto;
    width : 80% !important;
    max-width : 80% !important;
}

.THIS.isTab.slds-modal__header {
    border-bottom: none;
}

.THIS.isTab.slds-modal__container{
    height: calc(100% - 125px) !important;
    max-width: 500px !important;
    width:500px !important;
}

.THIS.isTab.slds-modal__content{
    height: calc(100% - 125px) !important;
}

.THIS.isTab.slds-modal__footer {
    border-top: none;
    background: white !important;
}